<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Book Search</title>
    </head>
    <body>
        <h1>Book Search</h1>
        <form action="/books" method="get">
            <label for="titlefield">Title:</label>
            <input type="text" id="titlefield" name="title">
            <label for="genrefield">Genre:</label>
            <input type="text" id="genrefield" name="genre">
            <label for="authorfield">Author:</label>
            <input type="text" id="authorfield" name="author">
            <label for="yearfield">Year:</label>
            <input type="text" id="yearfield" name="year">
            <input type="submit" value="Search">
        </form>
    </body>
</html>